@model Qlyniq.Models.Labreports

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Labreports</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SampledTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SampledTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glucose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glucose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Urea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Urea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creatine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creatine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cholesterol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cholesterol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Helicobacter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Helicobacter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recipient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipient.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
