@model Qlyniq.Models.Data.Employee

@{
    ViewData["Title"] = "Delete";
}

<h3> Delete a Patient</h3>
<hr/>

<div>
    <p> Are you sure you want to delete employee @Model.FirstName @Model.LastName ? </p>
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.OfficeId):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeId)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.SocialSecurityNumber):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialSecurityNumber)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.FirstName):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.LastName):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Gender):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.BirthDate):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IsMedicalWorker):
        </dt>
        <dd class = "col-sm-10">
            @(Model.IsMedicalWorker == true ? "Yes" : "No")
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.MedicalTitle):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalTitle)
        </dd>
    </dl>
    
    <hr/>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger"
            onclick="return confirm('Are you sure you want to delete this employee?')">
            <i class="fa fa-trash"> Delete @Model.FirstName </i>
        </button>
        <a asp-action="Index"  class="btn btn-secondary"><i class="fa fa-table"></i> Back to Employees   </a>
    </form>
</div>
