@model Qlyniq.Models.Employees

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employees</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialSecurityNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialSecurityNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMedicalWorker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMedicalWorker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDean)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeanOffice)
        </dt>
        <dd class = "col-sm-10">
            @if(Model.IsDean ?? false)
            {
                @Html.DisplayFor(model => model.DeanOffice.Name)
            }
            else 
            {
                <p>None</p>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Office)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Office.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
