@model IEnumerable<Qlyniq.Models.Appointments>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if(item?.Patient is null)
                {
                    @Html.DisplayFor(modelItem => item.PatientFirstName)
                }
                else
                {
                    @item.Patient.FirstName
                }
            </td>
            <td>
                @if(item?.Patient is null)
                {
                    @Html.DisplayFor(modelItem => item.PatientLastName)
                }
                else
                {
                    @item.Patient.LastName
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Name)
            </td>
            <td>
                @if(item.Patient is null)
                {
                    <p>None</p>
                }
                else 
                {
                    @Html.DisplayFor(modelItem => item.Patient.Name)
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
